{% extends "base.html" %}
{% block content %}
<h1 id='header-name' data='{{ user_id }}' class="title">
    {{ session['profile']['given_name'] }}'s Interactions
</h1>
<h2 class="subtitle">
  Keep up with your people
</h2>
<div class="container has-text-left">
    <div class="box">
        <div class="field">
            <label class="label">Contact</label>
            <div class="field is-horizontal">
                <input class="input" id="contact-input" type="text" placeholder="Name">
                <input class="input hidden" id="contact-frequency" type="number" placeholder="Contact Frequency (days)">
                <button id='add-button' class="button is-warning hidden">Add</button>
            </div>
        </div>
        <div class="field">
            <label class="label">Method</label>
            <input class="input" id="method-input" type="text" placeholder="Text, Call, etc">
        </div>
        <div class="field">
            <label class="label">Date</label>
            <input class="input" id="date-input" type="date" placeholder="Leave blank if today">
        </div>  
        <div class="field">
            <label class="label">Duration</label>
            <input class="input" id="method-input" type="number" placeholder="How many mintues?">
        </div>
        <div class="field">
            <label class="label">Notes</label>
            <textarea id="notes-input" class="textarea" plceholder="I should remember..."></textarea>
        </div>
    </div>
</div>    

{% endblock %}

{% block javascript %}
<script>
    const userId = document.getElementById('header-name').getAttribute('data')
    let contactsNames = []
    fetch(
        '/users/' + userId + '/contacts', {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            }
        })
    .then(response => response.json())
    .then(jsonResponse => {
        contactsNames = jsonResponse['contactsName']
        console.log(jsonResponse);
    })

    console.log("contactsNames: " + contactsNames)

    let contactInputValue = "";
    const contactInputElement = document.getElementById('contact-input')
    const addContactButton = document.getElementById('add-button')
    const contactFrequencyInput = document.getElementById('contact-frequency')

    contactInputElement.oninput = function(e) {
        contactInputValue = e.target.value;
        console.log(contactInputValue)
        // get first match in contacts with contactInputValue beginning
        try {
            let possibleName = contactsNames.filter(
            name => name.toLowerCase().substring(0,contactInputValue.length) == contactInputValue.toLowerCase()
            )[0]

            console.log("possibleName: " + possibleName)
            // contactInputElement.setAttribute()
        }
        
        catch(err) {
            console.log("Error finding possibleName: " + err)
        }
        
        if (typeof possibleName === "undefined" && contactInputValue.length != 0) {
            addContactButton.classList.remove('hidden')
            contactFrequencyInput.classList.remove('hidden')
        }
        else {
            addContactButton.classList.add('hidden')
            contactFrequencyInput.classList.add('hidden')
        }
    }

    addContactButton.onclick = function(e) {
        if (confirm("Add " + contactInputValue + "?")) {
            fetch(
                '/contacts', {
                    method: 'POST',
                    body: JSON.stringify({
                        'userId': userId,
                        'contactName': contactInputValue,
                        'contactFrequency': contactFrequencyInput.value
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }
            )
            .then(response => response.json())
            .then(jsonResponse => console.log(jsonResponse))
        }
    }
    


    // TODO put new contact functionality in
    // if new contact isn't in the contacts_names list, then add "Add" button

</script>
{% endblock %}