{% extends "base.html" %}
{% block content %}
<h1 id='header-name' data='{{ user_id }}' class="title">
    {{ session['profile']['given_name'] }}'s Interactions
</h1>
<h2 class="subtitle">
  Keep up with your people
</h2>
<div class="container has-text-left">
    <div class="box">
        <div class="field">
            <label class="label">Contact</label>
            <div class="field is-horizontal">
                <input class="input" id="contact-input" type="text" placeholder="Name">
                <input type="button" id='contact-match-button' class="button is-primary hidden">
                <input class="input hidden" id="contact-frequency" type="number" placeholder="Contact Frequency (days)">
                <button id='add-button' class="button is-warning hidden">Add</button>
            </div>
        </div>
        <div class="field">
            <label class="label">Method</label>
            <input class="input" id="method-input" type="text" placeholder="Text, Call, etc">
        </div>
        <div class="field">
            <label class="label">Date</label>
            <input class="input" id="date-input" type="date" placeholder="Leave blank if today">
        </div>  
        <div class="field">
            <label class="label">Duration</label>
            <input class="input" id="method-input" type="number" placeholder="How many mintues?">
        </div>
        <div class="field">
            <label class="label">Notes</label>
            <textarea id="notes-input" class="textarea" plceholder="I should remember..."></textarea>
        </div>
        <div class="field">
            <input id='submit-interaction-btn' class="button is-primary" type="submit">
        </div>
    </div>
</div>    

{% endblock %}

{% block javascript %}
<script>
    updateContactNames = function() {
        fetch(
            '/users/' + userId + '/contacts', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
        .then(response => response.json())
        .then(jsonResponse => {
            contactsNames = jsonResponse['contactsNames']
            console.log(jsonResponse);
            console.log("contactsNames: " + contactsNames)
        })
    }

    const userId = document.getElementById('header-name').getAttribute('data')
    var contactsNames = []
    var possibleName = "";

    var contactInputValue = "";
    const contactInputElement = document.getElementById('contact-input')
    const addContactButton = document.getElementById('add-button')
    const contactMatchButton = document.getElementById('contact-match-button')
    const contactFrequencyInput = document.getElementById('contact-frequency')
    const submitInteractionButton = document.getElementById('submit-interaction-button')

    updateContactNames()

    contactInputElement.oninput = function(e) {
        contactInputValue = e.target.value;
        console.log(contactInputValue)
        // get first match in contacts with contactInputValue beginning
        try {
            possibleName = contactsNames.filter(
            name => name.toLowerCase().substring(0,contactInputValue.length) == contactInputValue.toLowerCase()
            )[0]

            console.log("possibleName: " + possibleName)
        }
        
        catch(err) {
            console.log("Error finding possibleName: " + err)
        }
        
        if (contactInputValue.length == 0) {
            addContactButton.classList.add('hidden')
            contactFrequencyInput.classList.add('hidden')
            contactMatchButton.classList.add('hidden')
        }
        else if (typeof possibleName === "undefined" && contactInputValue.length != 0) {
            addContactButton.classList.remove('hidden')
            contactFrequencyInput.classList.remove('hidden')
            contactMatchButton.classList.add('hidden')
        }
        else {
            addContactButton.classList.add('hidden')
            contactFrequencyInput.classList.add('hidden')
            contactMatchButton.classList.remove('hidden')
            contactMatchButton.value = possibleName
        }
    }

    addContactButton.onclick = function(e) {
        if (confirm("Add " + contactInputValue + "?")) {
            fetch(
                '/contacts', {
                    method: 'POST',
                    body: JSON.stringify({
                        'userId': userId,
                        'contactName': contactInputValue,
                        'contactFrequency': contactFrequencyInput.value
                    }),
                    headers: {
                        "Content-Type": "application/json"
                    }
                }
            )
            .then(response => response.json())
            .then(jsonResponse => console.log(jsonResponse))
            .then(updateContactNames())
        }
    }
    contactMatchButton.onclick = function(e) {
        contactInputElement.value = possibleName;
    }
    submitInteractionButton.onclick = function(e) {
        // TODO setup this fetch request
    }



</script>
{% endblock %}